<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/dans/v1/head :: head(title='DataTags Service')"/>
<body>
<div id="visual-portal-wrapper" class="container">
	<!-- content -->
	<div id="content" class="set1">

		<!-- header -->
		<header th:replace="fragments/dans/v1/header"/>
		<!-- /header -->

		<div id="main" role="main">
			<h1 th:text="#{dans.v1.s6-purpose-definition.title}"/>
			<div class="widewrapper main">
				<div class="container">
					<div style="display: block;padding=0px;margin-right:70px;!important;">
						<div class="row">
							<div class="col-md-12">
								<h2 th:text="#{dans.v1.s6-purpose-definition.subtitle}"/>
								<p th:utext="#{dans.v1.s6-purpose-definition.contentText}"/>
								<br/>
								<div id="qa-area1" class="well button-node-question">
									<div id="question_area1">
										<div class="row">
											<div class="col-md-12">
												<h3 class="node-question-text"><span th:utext="#{dans.v1.s6-purpose-definition.question}"/><br><br></h3>
											</div>
										</div>
									</div>
									<div class="row" align="center">
										<form method="post" th:object="${dataTagInfoHolder}">
											<div class="answers"><div class="col-sm-6"><button type="submit" class="btn btn-lg btn-dts btn-block btn-primary " name="_eventId_yes"><span th:utext="#{dans.v1.s6-purpose-definition.yes}"/></button><br></div><div class="col-sm-6"><button type="submit" class="btn btn-lg btn-dts btn-block btn-primary " name="_eventId_no"><span th:utext="#{dans.v1.s6-purpose-definition.no}"/></button></div></div>
										</form>
									</div>
								</div>
								<footer th:replace="fragments/dans/v1/default-buttons"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer th:replace="fragments/dans/v1/footer"/>
		</div>
	</div>
</div>
</body>
</html>
