<footer th:fragment="dans-footer" id="footer">
		<div class="row">
			<div class="col-sm-6">
				<div class="row">
					<div class="col-xs-6">
						<h3>Contact</h3>
						<p>
							<a href="tel:+31-703494450">+31 70 349 44 50</a> <br>
							<a href="mailto:info@dans.knaw.nl">info@dans.knaw.nl</a><br>
							<a id="contact-link" href="https://dans.knaw.nl/nl/contact" class="more">Meer</a><br><br>
							<a href="https://dans.knaw.nl/nl/over/organisatie-beleid/juridische-informatie/privacyverklaring">
								Privacyverklaring</a>

						</p>
					</div>
					<div class="col-xs-6">
						<ul class="social">
							<!--
                                                        <a id="newsletter-link"
                                                               href="/over/organisatie-beleid/informatiemateriaal"
                                                               tal:attributes="href string:${navigation_root_url}/../nl/over/organisatie-beleid/informatiemateriaal/aanmeldformulier-digitale-nieuwsbrief-datalink">
                                                           <i class="fa fa-envelope-square"></i><tal:block i18n:translate="">Newsletter</tal:block>
                                                        </a>
                                                        <a id="dans_mailchimp_link"
                                                           href="../@@dans_mailchimp_subscribe"
                                                           tal:attributes="href string:${navigation_root_url}/@@dans_mailchimp_subscribe">
                                                           <i class="fa fa-envelope-square"></i><tal:block i18n:translate="">Newsletter</tal:block>
                                                        </a>
                             -->
							<li><a target="_blank" href="http://eepurl.com/dvnr8D"><i class="fa fa-envelope-square"></i>Newsletter</a></li>
							<li><a target="_blank" href="https://twitter.com/DANSKNAW"><i class="fa fa-twitter-square"></i>Twitter</a></li>
							<li><a target="_blank" href="https://www.youtube.com/user/DANSDataArchiving"><i class="fa fa-youtube-play"></i>YouTube</a></li>
							<li><a target="_blank" href="https://www.linkedin.com/company/dans"><i class="fa fa-linkedin-square"></i>LinkedIn</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-xs-6">

						<!--
                           <div class="logos">
                               <br>
                               <a  tal:condition="python: language == 'nl'"
                                   target="_blank" style="text-decoration:none"
                                   tal:attributes="href string:over/organisatie-beleid/certificering">
                                 <img src='logo-dsa.png' href=''>
                                 <img src='logo-wds.png'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <img src='logo-nestor.png'>
                             </a>
                               <a  tal:condition="python: language == 'en'"
                                   target="_blank" style="text-decoration:none"
                                   tal:attributes="href string:about/organisation-and-policy/certification">
                                 <img src='logo-dsa.png' href=''>
                                 <img src='logo-wds.png'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 <img src='logo-nestor.png'>
                             </a>
                         </div>
                         -->

					</div>
					<div class="col-sm-6">
						<p>DANS is een instituut van KNAW en NWO</p>
						<div class="col-xs-6">
							<a target="_blank" href="http://www.knaw.nl" class="icon-knaw">KNAW</a>
						</div>
						<div class="col-xs-6">
							<a target="_blank" href="http://www.nwo.nl" class="icon-nwo">NWO</a>
						</div>
						<p><i>Door data gedreven</i></p>
					</div>
				</div>
			</div>
		</div>
</footer>