<!-- header -->
	<header th:fragment="header">
		<div class="navbar navbar-default">
			<div class="navbar-header">
				<p class="hiddenStructure">
					<a accesskey="2" href="https://dans.knaw.nl/nl#content">Ga naar inhoud.</a> |

					<a accesskey="6" href="https://dans.knaw.nl/nl#portal-globalnav">Ga naar navigatie</a>
				</p>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".form-collapse"> <span class="sr-only">Toggle search</span> <i class="fa fa-search"></i> </button>
				<a class="navbar-brand" href="https://dans.knaw.nl/nl">DANS</a>
			</div>

			<nav id="main-nav" role="navigation" class="navbar-collapse collapse">
				<ul id="portal-globalnav" class="nav"><li id="portaltab-index_html"><a href="https://dans.knaw.nl/nl" title="">Home</a></li><li id="portaltab-deponeren" class="plain"><a href="https://dans.knaw.nl/nl/deponeren" title="">Deponeren</a></li><li id="portaltab-zoeken" class="plain"><a href="https://dans.knaw.nl/nl/zoeken" title="">Zoeken</a></li><li id="portaltab-training-consultancy" class="plain"><a href="https://dans.knaw.nl/nl/training-consultancy" title="">Training en consultancy</a></li><li id="portaltab-projecten" class="plain"><a href="https://dans.knaw.nl/nl/projecten" title="">Projecten</a></li><li id="portaltab-over" class="plain"><a href="https://dans.knaw.nl/nl/over" title="">Over DANS</a></li><li id="portaltab-actueel" class="plain"><a href="https://dans.knaw.nl/nl/actueel" title="">Actueel</a></li></ul>
			</nav>


		</div>
	</header>
	<!-- /header -->
