<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/iqss/v1/head :: head(title='DataTags Service')"/>
<body onload="noBack();"
	  onpageshow="if (event.persisted) noBack();" onunload="">

<div class="container" id="content">


	<div class="row">
		<div class="col">
			<div class="d-flex justify-content-end align-items-baseline" style="margin:0 .5rem">

			</div>
		</div>
	</div>

	<div class="row my-2">
		<div class="col">

			<div class="card border-info questionPanel">
				<!-- header -->
				<header th:replace="fragments/iqss/v1/header"/>
				<!-- /header -->
				<div class="card-body">

					<p th:utext="#{iqss.v1.s1-requirement.question}"/>
					<h5>Terms</h5>
					<ul>
						<li>
							<p><em>registered users</em>: Users with a dataverse account.</p>
						</li>
						<li>
							<p><em>approved users</em>: Users who have requested to access the data, and whose request has been approved.</p>
						</li>
					</ul>

				</div>

				<form method="post" th:object="${dataTagInfoHolder}">

					<div class="card-body noteCtnr" id="noteDiv" style="display: none">
						<textarea placeholder="Annotate your answer here" name="note" th:field="*{note}" class="form-control" rows="2"></textarea>
					</div>
					<div class="card-footer">
						<div class="answerButtonCtnr">
							<button type="button" class="toggleNoteBtn" onclick="$('#noteDiv').slideToggle(); $('#noteDiv textarea').focus()"><i class="fa fa-pencil"></i> Add note</button>

							<button type="submit" class="btn btn-primary" name="_eventId_anyone"><span th:utext="#{iqss.v1.s1-requirement.anyone}"/></button>
							<button type="submit" class="btn btn-primary" name="_eventId_authenticated"><span th:utext="#{iqss.v1.s1-requirement.authenticated}"/></button>
							<button type="submit" class="btn btn-primary" name="_eventId_approved"><span th:utext="#{iqss.v1.s1-requirement.approved}"/></button>
						</div>
					</div>
				</form>

			</div>

		</div>
	</div>
</div>

</body>

</html>